<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserSignup</servlet-name>
        <servlet-class>UserSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserLogin</servlet-name>
        <servlet-class>CheckUserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepassword</servlet-name>
        <servlet-class>Changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APICheckLiveStatus</servlet-name>
        <servlet-class>APICheckLiveStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPNR</servlet-name>
        <servlet-class>GetPNR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPNR1</servlet-name>
        <servlet-class>GetPNR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTrainRoute</servlet-name>
        <servlet-class>GetTrainRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatAvailable</servlet-name>
        <servlet-class>SeatAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FakeJSON</servlet-name>
        <servlet-class>FakeJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainBetweenStation</servlet-name>
        <servlet-class>TrainBetweenStation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainNumber</servlet-name>
        <servlet-class>TrainNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trainarrival</servlet-name>
        <servlet-class>Trainarrival</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCancelTrains</servlet-name>
        <servlet-class>GetAllCancelTrains</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationNameToCode</servlet-name>
        <servlet-class>StationNameToCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainAutoComplete</servlet-name>
        <servlet-class>TrainAutoComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RescheduleTrain</servlet-name>
        <servlet-class>RescheduleTrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainFare</servlet-name>
        <servlet-class>TrainFare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAirportDetials</servlet-name>
        <servlet-class>GetAirportDetials</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FakeJSON1</servlet-name>
        <servlet-class>FakeJSON1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirportsWithinRadius</servlet-name>
        <servlet-class>AirportsWithinRadius</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAirportArrivals</servlet-name>
        <servlet-class>GetAirportArrivals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home1</servlet-name>
        <servlet-class>Home1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScheduleArrival</servlet-name>
        <servlet-class>GetScheduleArrival</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirlineFetch</servlet-name>
        <servlet-class>AirlineFetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirlinesFetch</servlet-name>
        <servlet-class>AirlinesFetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAirline</servlet-name>
        <servlet-class>FetchAirline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAirportDeparture</servlet-name>
        <servlet-class>GetAirportDeparture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScheduleDept</servlet-name>
        <servlet-class>GetScheduleDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Flightnearme</servlet-name>
        <servlet-class>Flightnearme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackFlight</servlet-name>
        <servlet-class>TrackFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetResponseFromUrl</servlet-name>
        <servlet-class>Vmm.GetResponseFromUrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodeToStationName</servlet-name>
        <servlet-class>CodeToStationName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationAutocompleteSuggest</servlet-name>
        <servlet-class>StationAutocompleteSuggest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainHome</servlet-name>
        <servlet-class>MainHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSignup</servlet-name>
        <url-pattern>/UserSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserLogin</servlet-name>
        <url-pattern>/CheckUserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepassword</servlet-name>
        <url-pattern>/Changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APICheckLiveStatus</servlet-name>
        <url-pattern>/APICheckLiveStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPNR</servlet-name>
        <url-pattern>/GetPNR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPNR1</servlet-name>
        <url-pattern>/GetPNR1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTrainRoute</servlet-name>
        <url-pattern>/GetTrainRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatAvailable</servlet-name>
        <url-pattern>/SeatAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FakeJSON</servlet-name>
        <url-pattern>/FakeJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainBetweenStation</servlet-name>
        <url-pattern>/TrainBetweenStation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainNumber</servlet-name>
        <url-pattern>/TrainNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trainarrival</servlet-name>
        <url-pattern>/Trainarrival</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCancelTrains</servlet-name>
        <url-pattern>/GetAllCancelTrains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationNameToCode</servlet-name>
        <url-pattern>/StationNameToCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainAutoComplete</servlet-name>
        <url-pattern>/TrainAutoComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RescheduleTrain</servlet-name>
        <url-pattern>/RescheduleTrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainFare</servlet-name>
        <url-pattern>/TrainFare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAirportDetials</servlet-name>
        <url-pattern>/GetAirportDetials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FakeJSON1</servlet-name>
        <url-pattern>/FakeJSON1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirportsWithinRadius</servlet-name>
        <url-pattern>/AirportsWithinRadius</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAirportArrivals</servlet-name>
        <url-pattern>/GetAirportArrivals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home1</servlet-name>
        <url-pattern>/Home1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScheduleArrival</servlet-name>
        <url-pattern>/GetScheduleArrival</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirlineFetch</servlet-name>
        <url-pattern>/AirlineFetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirlinesFetch</servlet-name>
        <url-pattern>/AirlinesFetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAirline</servlet-name>
        <url-pattern>/FetchAirline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAirportDeparture</servlet-name>
        <url-pattern>/GetAirportDeparture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScheduleDept</servlet-name>
        <url-pattern>/GetScheduleDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Flightnearme</servlet-name>
        <url-pattern>/Flightnearme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackFlight</servlet-name>
        <url-pattern>/TrackFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetResponseFromUrl</servlet-name>
        <url-pattern>/GetResponseFromUrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodeToStationName</servlet-name>
        <url-pattern>/CodeToStationName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationAutocompleteSuggest</servlet-name>
        <url-pattern>/StationAutocompleteSuggest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainHome</servlet-name>
        <url-pattern>/MainHome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
